
body {
	margin: 0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	color: #4b4b4b;
	line-height:18px;
}

/* *{padding:0px; margin:0px;} */

a, input, textarea {outline: none;}


a { text-decoration: none; color: #a5a5a5;}

a:hover { text-decoration: underline; color: #4b4b4b;}

ul, li{padding:0px; margin:0px;}

img {border: 0px;}

.clear{clear:both;}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

#wrapper {
	width: 980px;
	height: auto;
	margin: 0px auto;
}

#header {
	width: 980px;
	height: 115px;
}

#logo {
	width: 81px;
	height: 81px;
	float: left;
	margin-top: 15px;
}

#navi_box {
	width: 650px;
	height: 30px;
	float: left;
	margin-top: 66px;
	margin-left: 93px;
	}
	
.search_box {
	width: 110px;
	height: 21px;
	float:right;
	padding-right:2px;
	margin-top: 68px;
	border: 1px solid #cecece;
	padding: 2px 3px;
	/*background: url(../images/search_icon.jpg) no-repeat 5px 5px;*/
	color: #4b4b4b;
	vertical-align: baseline;
}
.search_box #SearchButton input {
	
	float:left;
	border:none;
	color:#4b4b4b;
	margin-top:3px;
	margin-left:2px;
}
	
.search_box #SearchText input {
	width:83px;
	height:17px;
	float:right;
	border:none;
	color:#4b4b4b;
}

#main_container {
	width: 980px;
	height: auto;
}

#scroll_box {
	width: 980px;
	height: 70px;
	margin-top:18px;
}

.scroll_each {
	width: 130px;
	height: 70px;
	float:left;
	margin-right:82px;
	background-color:#c5c5c5;
}

.scroll_each a.sc_1 {
	display:block;	
}

.scroll_each a.sc_1:hover {
	background-color: #e8242c;
	display:block;	
}

.scroll_each a.sc_2 {
	display:block;	
}

.scroll_each a.sc_2:hover {
	background-color:#fc7e39;/*#0fc7e3*/
	display:block;	
}

.scroll_each a.sc_3 {
	display:block;	
}

.scroll_each a.sc_3:hover {
	background-color:#a256e5;
	display:block;	
}

.scroll_each a.sc_4 {
	display:block;	
}

.scroll_each a.sc_4:hover {
	background-color:#83bd43;
	display:block;	
}

.scroll_each a.sc_5 {
	display:block;	
}

.scroll_each a.sc_5:hover {
	background-color:#00a4ac;
	display:block;	
}

.index_box {
	width: 318px;
	height:216px;
	float:left;
	margin-right: 10px;
	border:1px solid #e4e4e4;
	background-color:#FFFFFF;
	font-size:12px;
	color: #4b4b4b;
}

.index_box_title {
	font-size:16px; /*13px*/
	color: #4b4b4b; /*#717171*/
	font-weight:bold;
	margin-bottom: 10px;
}

#welcome_box {
	width: 298px;
	height: 186px;
	margin:15px 15px;
}

#welcome_box div p {margin-bottom:0px; /*color:#4b4b4b;*/}

#group_box {
	width:289px;
	height:186px;
	margin:15px 15px;
}

#group_box ul{
	list-style:none;
}

#group_box ul li{
	height:15px;
	margin-bottom: 8px;
	background: url(../images/black_bullet.jpg) no-repeat left center;
	padding-left: 15px;
	/*color:#717171;*/
}

#credential_box {
	width:315px;
	height:160px;
	margin:0px;
}

#credential_box img{vertical-align: middle; margin-right: 20px; width:34px; height:28px; float:left;}

#credential_box .cred_each {
	height:28px;
	margin-bottom: 14px;
	line-height: 14px;
	/*color:#717171;*/
}

#footer {
	width:100%;
	height:40px;
	margin-top: 18px;
	border-top: 1px solid #e4e4e4;
}

#footer_main {
	width: 980px;
	font-size: 11px;
	color:#4b4b4b;
	margin: 13px auto 0px;
}

#footer_main a{
	color:#848484;
	text-decoration: none;
}

#footer_main a:hover{
	color:#4b4b4b;
	text-decoration: underline;
}

#footer_main a.kweb {color:#848484; text-decoration:none;}

#footer_main a.kweb:hover {color:#4b4b4b; text-decoration: underline;}



/*  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   Inner Page     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */


#banner {
	width: 980px;
	height:160px;
	margin-bottom: 15px;	
}

#bread_box {
	width: auto;
	float:left;
	border: 1px solid #eaeaea;
	font-size:12px;
	color: #4b4b4b;
	/*#555 color: #e8242c;*/
	margin-bottom: 15px;
	padding-left: 2px;
}

#bread_box a {
	text-decoration: none;
	color:#848484;
	/*color: #4b4b4b;*/
	margin: 0px;
	display:inline-block;
	padding: 6px 15px 6px 8px;
	background: url(../images/bread_arrow.jpg) no-repeat right center;
}

#bread_box a:hover {
	text-decoration: none;
	/*color: #555;*/
	color: #4b4b4b;
	margin: 0px;
	display:inline-block;
	padding: 6px 15px 6px 8px;
	background: url(../images/bread_arrow.jpg) no-repeat right center;
}

#gray_line {
	width: 1px;
	min-height: 300px;
	height: auto;
	float:left;
	background-color: #ebebeb;
}

#cont_left {
	width: 250px;
	min-height: 300px;
	float:left;
}

#cont_left #pg_head {
	width:auto;
	min-width: 100px;
	height:18px;
	float:left;
	font-size:18px;
	color:#4b4b4b;
	font-weight: 700;
	margin-bottom: 15px;
}

#cont_left #pg_head a{
	text-decoration: none;
	color:#4b4b4b;
	}

#cont_left #pg_head a:hover{
	text-decoration: none;
	color:#000000;
	/*color:#cdcccc;*/
	}

#cont_left #rel_box {
	width:210px;
	height:37px;
	float:left;
	margin: 3px 0px;
}

#cont_left #rel_box_link {
	width:210px;
	height: auto;
	float:left;
	margin: 3px 0px;
}


/****** new csss *****/

#cont_left .rel_box a{
display:block;
font-family:Arial, Helvetica, sans-serif;
font-size:13.5px;
font-weight:bold;
padding-left:60px;
line-height:37px;
text-decoration:none;
}

#cont_left .rel_box a:hover, #cont_left .rel_box a.active{
color:#fff;
}




#cont_left .liquid a{
background:url(../images/liquid_icons.png) no-repeat left top;
}

#cont_left .liquid a:hover, #cont_left .liquid a.active{
background:#e8242c  url(../images/liquid_icons.png) no-repeat left bottom;
}


#cont_left .gas a{
background:url(../images/gas_icons.png) no-repeat left top;}

#cont_left .gas a:hover, #cont_left .gas a.active{
background:#fd7e39 url(../images/gas_icons.png) no-repeat left bottom;}


#cont_left .epc a{
background:url(../images/epc_icons.png) no-repeat left top;
}

#cont_left .epc a:hover, #cont_left .epc a.active{
background:#a156e6 url(../images/epc_icons.png) no-repeat left bottom;
}


#cont_left .retail a{
background:url(../images/retail_icons.png) no-repeat left top;
}

#cont_left .retail a:hover, #cont_left .retail a.active{
background:#83bd44 url(../images/retail_icons.png) no-repeat left bottom;
}

#cont_left .marine a{
background:url(../images/marine_icons.png) no-repeat left top;}

#cont_left .marine a:hover, #cont_left .marine a.active{
background:#00a4ad url(../images/marine_icons.png) no-repeat left bottom;}

/***************** new css end *****************/


	#cont_left #rel_box_link ul{margin:0px; padding:0px;}

	#cont_left #rel_box_link ul li {
	list-style: none;
	width:210px;
	min-height:17px;
	font-size:14px;
	display:block;
	margin-bottom: 3px;
	}
	
	#cont_left #rel_box_link ul li a {
	/*width:200px;
	min-height:27px;*/
	display:block;
	color:#4e4e4e;
	text-decoration:none;
	padding: 10px 10px 10px 10px;
	/*padding-top: 10px;
	padding-left: 10px;*/
	}
	
	#cont_left #rel_box_link ul li a:hover {
	/*width:200px;
	min-height:27px;*/
	color: #fff;
	background-color:#e9242d;
	text-decoration:none;
	/*padding-top: 10px;
	padding-left: 10px;*/
	}

	#cont_left #rel_box_link ul li.selec {
	width:190px;
	min-height:17px;
	color: #fff;
	background-color:#e9242d;	
	padding: 10px 10px 10px 10px;
	/*padding-top: 10px;
	padding-left: 10px;*/
	}

#cont_right {
	width: 685px;
	min-height: 300px;
	height:auto;
	float: right;
	font-size:12px;
}

#cont_full {
	width: 980px;
	min-height: 300px;
	height:auto;
	float: right;
	padding-left:0px;
	font-size:12px;
}

#cont_full #pg_head {
	width:980px;
	height:18px;
	float:left;
	font-size:18px;
	color:#4b4b4b;
	font-weight: 700;
	margin-bottom: 15px;
}

#cont_right_box {
	margin-top: 45px;
	
}

.green_heading {
	height: 20px;
	font-size:16px;
	font-weight:bold;
	color:#4b4b4b;
	/*color:#717171;*/
	/*color:#219443;*/
	margin-top: 0px;
	margin-bottom: 10px;
}



#cont_right p {
	text-align:justify;
	margin-bottom:20px;
	line-height: 18px;
    font-size: 13px;
}

#table_box {
	width: 681px;
	height: auto;
	min-height:50px;
	/*background: url(../images/table_bg.jpg) repeat-y;*/
	font-size:12px;
	padding: 0px 2px;
	margin-bottom:20px;
}


 ul.list {
	padding:0px; margin:0px; list-style: none; margin-bottom: 20px;
}

 ul.list li {
	font-size:12px;
	background: url(../images/black_bullet.jpg) no-repeat left 4px;
	padding-left: 15px;
	margin-bottom: 10px;
	line-height: 18px;
}

 ul.list li a { text-decoration: none; color: #848484; /*#2ba153;*/}

 ul.list li a:hover { text-decoration: underline; color: #4b4b4b;/*#2ba153;*/}
 
 
 ul.list li a.dwnld  {
 	width: 80px;
	height: 17px;
	color: #ffffff;
	font-size:12px;
	font-weight:bold;
	background-color:#c5c5c5;
	cursor:pointer;
	display:block;
	text-align:center;
	padding: 2px 0px;
	margin-top:10px;
	text-decoration:none;
 }
 
 ul.list li a.dwnld:hover  {
	color: #ffffff;
	background-color:#2ba153;
	cursor:pointer;
	display:block;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
 }

 

 ul.list_in {
	padding:0px; margin:0px; list-style: none; margin-bottom: 10px; margin-top:10px;
}

 ul.list_in li {
	font-size:12px;
	background: url(../images/black_bullet_2.jpg) no-repeat left 4px;
	padding-left: 15px;
	margin-bottom: 5px;
	line-height: 18px;
	list-style:none;
}

 ul.list_in li a { text-decoration: none; color: #848484;/*#2ba153;#4b4b4b*/}

 ul.list_in li a:hover { text-decoration: underline; color: #4b4b4b;/*#2ba153;#e9242d*/}

.img_bdr { border:1px solid #c8c8c8; margin-right:10px; margin-bottom:10px;}

.team_box {
	width: 298px;
	height: 130px;
	float:left;
	margin-bottom: 20px;
	margin-right: 42px;
	background-color: #fcfcfc;
	border: 1px solid #eee;
}

.team_box .img{float:left; margin: 5px;}

.team_box .name {
	width: 173px;
	float:right;
	font-size:14px;
	margin-top: 70px;
	padding-left: 12px;
	line-height:20px;
}

.p_logo_box {
	width: 130px;
	height: 130px;
	float: left;
	margin: 0px 26px 30px 6px;
	border: 4px solid #fff;
	background: url(../images/loading.gif) no-repeat center center;
}

.p_logo_box:hover {
	width: 130px;
	height: 130px;
	float: left;
	margin: 0px 26px 30px 6px;
	border: 4px solid #f4f4f4;
}

a.anylink {
	text-decoration: none;
	color: #848484;/*#228a44*/
}

a:hover.anylink {
	text-decoration: underline;
	color: #4b4b4b;/*#e9242d*/
}



a:link.anylink2 {
	text-decoration: none;
	color: #848484;/*#228a44*/
}
a:visited.anylink2 {
	text-decoration: none;
	color: #848484;
}
a:hover.anylink2  {
	text-decoration: underline;
	color: #4b4b4b;
}

.init_img {
	width: 250px;
	height: 117px;
	float: left;
	margin: 0px 30px 30px 0px;
	border: 4px solid #fff;
	background: url(../images/loading.gif) no-repeat center center;
}

.init_img:hover {
	width: 250px;
	height: 117px;
	float: left;
	margin: 0px 30px 30px 0px;
	border: 4px solid #e2e2e2;
}

.prize_img {
	width: auto;
	float: left;
	margin: 0px 18px 30px 0px;
	border: 4px solid #fff;
	text-align:center;
	background: url(../images/loading.gif) no-repeat center center;
	background-color:transparent;
}

.prize_img:hover {
	width: auto;
	float: left;
	text-align:center;
	margin: 0px 18px 30px 0px;
	border: 4px solid #e2e2e2;
}

.prize_img img {border: 1px solid #ccc;width:200px;height:136px;
}

.csr_img {
	width: 200px;
	height: 150px;
	float: left;
	margin: 0px 37px 30px 0px;
	border: 4px solid #fff;
	text-align:center;
	background: url(../images/loading.gif) no-repeat center center;
	background-color:transparent;
}

.csr_img:hover {
	width: 200px;
	height: 150px;
	float: left;
	text-align:center;
	margin: 0px 37px 30px 0px;
	border: 4px solid #e2e2e2;
}

.csr_img img { border: 1px solid #ccc; margin-bottom:2px;
}

a.more {
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-align:right;
}

a.more:hover{
	color:#e8242c;
	text-decoration: none;
}


.hse_img {
	width: 150px;
	height: 107px;
	float: left;
	margin: 0px 13px 15px 0px;
	border: 4px solid #fff;
	text-align:center;
	background: url(../images/loading.gif) no-repeat center center;
	background-color:transparent;
}

.hse_img:hover {
	width: 150px;
	height: 107px;
	float: left;
	text-align:center;
	margin: 0px 13px 15px 0px;
	border: 4px solid #e2e2e2;
}

ul.invest {
	padding:0px; margin:0px; list-style: none; margin-bottom: 20px;
}

ul.invest li {
	font-size:12px;
	background: url(../images/black_bullet.jpg) no-repeat left 4px;
	padding-left: 15px;
	margin-bottom: 10px;
	line-height: 18px;
	font-weight:bold;
}

ul.invest li a {
	text-decoration: none;
	color:#717171;
}

ul.invest li a:hover {
	text-decoration: none;
	color:#444444;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


#contact_left_box {
	width: 630px;
	height: auto;
	float:left;
}

#contact_right_box {
	width: 260px;
	height: auto;
	float: right;
	margin-left: 45px;
}

.contact_map_box {
	width: 400px;
	height: 300px;
	float:right;
	border: 1px solid #ddd;
	background: url(../images/loading.gif) no-repeat center center;
}

.form_box {
	min-height: 25px;
	height: auto;
	margin-bottom: 15px;
}

.input {
	width: 230px;
	height: 21px;
	float:left;
	border: 1px solid #cecece;
	padding: 2px 3px;
	color: #4b4b4b;
	vertical-align: baseline;
}

.comment_box {
	width: 230px;
	height: 80px;
	float:left;
	border: 1px solid #cecece;
	padding: 2px 3px;
	color: #4b4b4b;
	font-family:Arial, Helvetica, sans-serif;
}



 ul.list_news {
	padding:0px; margin:0px; list-style: none; margin-bottom: 10px; margin-top:10px;
}

 ul.list_news li {
	font-size:12px;
	background: url(../images/black_bullet_2.jpg) no-repeat left 4px;
	padding-left: 15px;
	margin-bottom: 20px;
	line-height: 18px;
}

 ul.list_news li a { text-decoration: none; color:#4b4b4b;}

 ul.list_news li a:hover { text-decoration: none; color: #e9242d;}

 ul.list_news li a.v_pdf  {
 	width: 50px;
	height: 16px;
	color: #ffffff;
	font-size:12px;
	font-weight:bold;
	background-color:#c5c5c5;
	cursor:pointer;
	display:block;
	text-align:center;
	padding: 2px 0px;
 }
 
 ul.list_news li a.v_pdf:hover  {
	color: #ffffff;
	background-color:#2ba153;
	cursor:pointer;
	display:block;
	text-align:center;
	vertical-align:middle;
 }

.career_box {
	width: 500px;
	height: auto;
	float:left;
	padding-left: 15px;
	background: url(../images/black_bullet.jpg) no-repeat left 4px;
	border-bottom:1px solid #dddddd;
}

.career_box p{ margin-top: 0px;}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Employee Login xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

#login_box {
	width: 400px;
	height:250px;
	margin: 80px auto;
	background-color:#fdfdfd;
	border: 1px solid #e4e4e4;
}

#login_box #pg_head {
	width: 360px;
	height:20px;
	float:left;
	font-size:18px;
	color:#000000;
	font-weight: 700;
	margin: 30px 20px;
	text-align:center;
}

#login_box .log_box {
	width: 400px;
	height: 30px;
	margin-bottom: 15px;
	text-align:center;
	font-size:14px;
	color:#4b4b4b;
}

#login_box .log_box .input_log {
	width: 200px;
	height: 25px;
	border: 1px solid #cecece;
	color: #4b4b4b;
	margin: auto;
	padding-left: 10px;
}

.log_but {
	width: 80px;
	height: 30px;
	color: #ffffff;
	font-size:12px;
	font-weight:bold;
	background-color:#c5c5c5;
	cursor:pointer;
	border:none;
}

.log_but:hover  {
	width: 80px;
	height: 30px;
	color: #ffffff;
	font-size:12px;
	font-weight:bold;
	background-color:#2ba153;
	cursor:pointer;
	border:none;
}

#log_right_box {
	width: 680px;
	margin-top: 25px;
	float:left;
}

#log_welcome {
	width: 680px;
	height: 20px;
	float:left;
	text-align: right;
	font-weight:bold;
	vertical-align:bottom;
	border-bottom: 1px solid #cecece;
}

.chg_box {
	min-height: 25px;
	height: auto;
	margin-bottom: 15px;
}

.chg_box .chg_particular {
	width: 125px;
	height: 21px;
	float:left;
	color: #4b4b4b;
	padding: 3px 0px;
}

.chg_box .chg_input {
	width: 230px;
	height: 21px;
	border: 1px solid #cecece;
	padding: 2px 3px;
	color: #4b4b4b;
	vertical-align: baseline;
}






































