.ddsmoothmenu{
font: bold 13px Arial, Helvetica, sans-serif;
/*background: #414141; background of menu bar (default state)*/
width: 100%;

}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
height: 28px;
margin-right: 1px;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
color: white;
color: #28a350;
text-decoration: none;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link{
color: #28a350;
padding: 7px 17px;
}

.ddsmoothmenu ul li a:visited{
color: #28a350;
padding: 7px 17px;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#e8242c; 
color:#fff;
padding: 7px 17px;
}

.ddsmoothmenu ul li a:hover{
background: #e8242c; /*background of menu items during onmouseover (hover state)*/
color:#fff;
padding: 7px 17px;
}

.ddsmoothmenu ul li.selc a{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#e8242c; 
color:#fff;
display:block;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
background-color: #ffffff;
margin-top: 2px;
border: 1px solid #cdcccc;
border-bottom: none;
/*width: 200px;*/
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
height:auto;
min-height:30px;
padding:0px;
border-bottom: 1px solid #cdcccc;
margin:0px;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a:link, .ddsmoothmenu ul li ul li a:visited{
min-width: 170px; /*width of sub menus*/
color: #28a350;/*#FFFFFF*/
background-color: #ffffff;
padding: 7px 17px 5px;
min-height:18px;

/*display:block;*/
}
.ddsmoothmenu ul li ul li a:hover{
min-width: 170px; /*width of sub menus*/
color:#FFFFFF;
background-color: #e8242c;
/*display:block;*/
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

/*.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}*/

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

/*.ddshadow{ shadow for NON CSS3 capable browsers
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}*/

/*.toplevelshadow{ shadow opacity for NON CSS3 capable browsers. Doesn't work in IE
opacity: 0.8;
}*/