/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:0px;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 0px;
 border-bottom: 1px solid #778;
 text-align:right;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline-block;
 margin-top: 4px;
 margin-bottom:5px;
 margin-left: 50px;
 width: auto;
 height: 15px;
}

ul.tabbernav li a
{
 padding: 0px;
 margin-left: 0px;
 text-decoration: none;
 font-size: 12px;
}

ul.tabbernav li a:link { /*color: #a5a5a5;*/ /*color: #653636;*/color:#4b4b4b;font-weight: bold; }
ul.tabbernav li a:visited { /*color: #a5a5a5;*/  color: #4b4b4b;font-weight: bold;}

ul.tabbernav li a:hover
{
 color: #4b4b4b; /*#f72b28;*/
 font-weight: normal;
 font-weight: bold;
}

ul.tabbernav li.tabberactive a
{
 color: #fff; /*#f72b28;*/
 font-weight: normal; 
 border-bottom: 0px solid #fff;
 font-weight:bold;
     
 background: #83BD44;
 font-size:13px;
 padding: 2px 17px;
 /*background:#83bd44 url(../images/retail_icons.png) no-repeat left bottom;*/
}

ul.tabbernav li.tabberactive a:hover
{
 color: #fff; /*#f72b28;*/
 font-weight: normal;
 border-bottom: 0px solid white;
 font-weight:bold;
 
 
 background: #83BD44;
 font-size:13px;
 padding: 2px 17px;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding-top:20px;
 border:0px solid #aaa;
 border-top:0;
 font-size:12px;
 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
 background-color:#33CCFF;
}
