

#example {
	width:980px;
	height:335px;
	position:relative;
	background: url(../images/slider/loading.gif) no-repeat center center;
}


/*
	Slideshow
*/

#slides {
	/*position:absolute;
	top:15px;
	left:4px;*/
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:978px;
	height:305px;
	overflow:hidden;
	position:relative;
	display:none;
	border: 1px solid #e4e4e4;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:978px;
	height:305px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:10px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:915px;
}

/*
	Pagination
*/

.pagination {
	width:100px;
	margin: 0px auto;
	margin-top:15px;
	height:15px;
}

.pagination li {
	float:left;
	margin:0 6px;
	list-style:none;	
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/slider/pagination.png);
	float:left;
	overflow:hidden;
	
}

.pagination li.current a {
	background-position:0 -12px;
	
}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:978px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
}