#accordion h3 {
	cursor:pointer;
	margin:0px;
	padding:0px;
	font-size:16px;
	/*background: url(../images/black_bullet.jpg) no-repeat left 4px;*/
	padding-left: 0px;
	margin-bottom: 0px;
	line-height: 18px;
	font-weight:bold;
	/*font-weight: normal;
	font-size: 12px;
	color: #717171;
	background-color: transparent;*/
	width:100%;
	height:20px;
}
#accordion .element { margin-bottom:10px; padding-left: 5px;}
#accordion .element div {padding:0px;}
#accordion .element p {padding:0px;}
#accordion h3 {padding-left:0px; color:#717171;}
#accordion h3:hover {color:#4b4b4b;}
#accordion h3.on {color:#4b4b4b; font-weight:bold;}
#accordion h3.on, #accordion h3.on:hover {color:#4b4b4b;}

