<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>hello demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
<!--
 #fullheight{height:100%}

-->
</style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="width: 100%; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#F5F7FC,EndColorStr=#E2EAFF)">

  <table width="100%" id="fullheight" border="0" align="center" cellpadding="0" cellspacing="0" style="width: 100%; padding:4px; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#F5F7FC,EndColorStr=#E2EAFF) height:100%">
    <tr> 
      <td  align="center" valign="middle"  style="color:#1B64C8; font-size:23px; font-family:verdana; font-weight:bold;">hello demo</td>
    </tr>
    <tr> 
      <td  align="center" valign="top"><table width="70%" height="100%" border="0" cellpadding="2" cellspacing="0">
        <tr> 
          <td width="100%"  colspan="2" align="left" valign="top" style="color:#061D69; font-size:13px; font-family:verdana; padding-top:5px;padding-bottom:5px; height:auto">The 
            website is currently under construction. It will be online soon. Thank 
            you for your patience while we build our website. Please visit us 
            again. <br /> <br /> <strong><br />
            <font color="0267F3">For any further information regarding our website 
            please contact us at:</font></strong><br /> <font color="139505"> 
            <strong><a href="mailto:hello demo@hello demo"><font color="139505">hello demo@hello demo</font></a>
            </strong></font> </td>
        </tr>
      </table></td>
    </tr>
    <tr>
      
    <td  align="center" valign="middle"><table width="70%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td align="center" valign="bottom" style=" border-bottom:solid 4px #CCDEFD;" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <TR>
<TD style="BORDER-BOTTOM: #ccdefd 4px solid" vAlign=bottom align=middle>
<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD>
<TD>&nbsp;</TD>
<TD>&nbsp;</TD>
<TD>&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px">&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD>&nbsp;</TD>
<TD>&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px; BACKGROUND-COLOR: #e5f0ff">&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px; BACKGROUND-COLOR: #dee9ff">&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD>&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#E2EDFF,EndColorStr=#F6FCFF); BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px">&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px; BACKGROUND-COLOR: #d7e0fa">&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px">&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px; BACKGROUND-COLOR: #e5f0ff">&nbsp;</TD>
<TD>&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px; BACKGROUND-COLOR: #e5f0ff">&nbsp;</TD>
<TD style="BORDER-RIGHT: #cee2fd 1px solid; BORDER-TOP: #cee2fd 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#E2EDFF,EndColorStr=#F6FCFF); BORDER-LEFT: #cee2fd 1px solid; WIDTH: 64px; BORDER-BOTTOM: #cee2fd 1px solid; HEIGHT: 43px">&nbsp;</TD></TR></TBODY></TABLE></TD></TR>

            </table></td>
        </tr>
      </table>
      <table width="70%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" style="color:#1B64C8; font-size:13px; font-family:verdana; border-top:solid 4px #D9E9DB; padding-top:8px;" >[ Powered by <strong><a href="http://hostingcontroller.com" target="_blank"><font color="1B64C8">Hosting 
              Controller</font></a></strong><font color="1B64C8">&nbsp; </font>]</td>
          </tr>
        </table></td>
    </tr>
  </table>

</body>
</html>
