<%@ Page Language="C#" MasterPageFile="~/aegis_master.master" AutoEventWireup="true"
    CodeFile="Investor_Downloads.aspx.cs" Inherits="Investor_Downloads" Title="Aegis Logistics Limited - Investor Download" %>

<%@ Register Src="investor_top.ascx" TagName="investor_top" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <%--<!--  scroll to top  -->

<script src="js/jquery.localscroll-1.2.6-min.js" type="text/javascript"></script>
<script src="js/jquery.scrollTo-1.4.0-min.js" type="text/javascript"></script>
<script>

$(document).ready(function () {
	$.localScroll();	
});

</script>

<!--  scroll to top  -->--%>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:investor_top ID="investor_top1" runat="server" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <div id="main_container" style="border-top: 1px solid #e4e4e4; padding-top: 20px;">
        <%--<div id="banner"><img src="images/banner/liquid_logistic.jpg" border="0" alt="Liquid Logistics" title="Liquid logistics" /></div>--%>
        <div class="clear">
        </div>
        <!--  Cont-left  -->
        <div id="cont_left">
            <div id="pg_head">
                Investor Relations
            </div>
            <div id="rel_box_link">
                <ul>
                    <li><a href="Corporate_Governances.aspx">Corporate Governance</a></li>
                    <li><a href="key_financial_data.aspx">Financial Information</a></li>
                    <%--<li><a href="key_financial_data.aspx">Key Financial Data</a></li>--%>
                    <li><a href="shares.aspx">Stock Information</a></li>
                    <li><a href="Dividend.aspx">Dividend</a></li>
                    <%--<li class="selec">Debentures</li>--%>
                    <li><a href="reports_filings.aspx">Stock Exchange Communication</a></li>
                    <li><a href="events_presentations.aspx">Investor Presentations</a></li>
                    <%--<li><a href="quarterly_results.aspx">Financial Results</a></li>--%>
                    <li><a href="news.aspx">News and Events</a></li>
                    <li class="selec">Investor Downloads</li>
                    <li><a href="InvestorContacts.aspx">Investor Contacts</a></li>

                    <%--<li><a href="live_share_info.aspx">Live Share Info</a></li>--%>
                    <%--<li><a href="unclaimedamounts.aspx">Unpaid & Unclaimed Amounts</a></li>--%>
                    <%--<li><a href="sealord_containers_limited.aspx">Sea Lord Containers Limited (Subsidiary)</a></li>--%>
                    <li><a href="Aegis_Gas_Lpg_Pvt_Ltd.aspx">Aegis Gas (LPG) Pvt. Ltd. (Subsidiary)</a></li>
                </ul>
            </div>
        </div>
        <!--  Cont-left  -->
        <div id="gray_line" style="height: 525px;">
        </div>
        <!--  Cont-right  -->
        <div id="cont_right">
            <div id="cont_right_box">
                <ul class="list">
                    <li>
                        <a href="Admin/Documents/Investor_Downloads_Aegis_RUD_Cases_270517.pdf" target="_blank">Returned Undelivered Share Certificates as on 17-05-2017</a>
                    </li>
                </ul>
                <div>
                    Various forms  and requests such as transfer, transmission, ECS Mandate, updation of shareholders details etc. would be available at the Registrar and share Transfer Agent
i.e Link Intime India Private Limitedís website at the below mentioned link:&nbsp;&nbsp;<strong><a href="https://linkintime.co.in/client-downloads.html" target="_blank">https://linkintime.co.in/client-downloads.html</a></strong>




                </div>
                <div class="clear" style="height: 40px;">
                </div>
                <%--<div style="float: left; width: 50%;">
                    <ul class="list">
                        <li>Compliance Officer:</li>
                    </ul>
                    Ms. Monica Gandhi,<br>
                    Company Secretary<br>
                    Tel: 022 66663666<br>
                    Fax: 022 66663777<br>
                    Email:<a href="mailto:secretarial@aegisindia.com">secretarial@aegisindia.com</a><br>
                </div>--%>

                <%--<div style="float: right; width: 50%;">
                    <ul class="list">
                        <li>Registrar/Share Transfer Agents:</li>
                    </ul>
                    Link Intime India Private Limited<br>
                    Unit : Aegis Logistics Ltd.,<br>
                    C 101, 247 Park,<br>
                    L. B. S. Marg, Vikhroli (West),<br>
                    Mumbai- 400 083<br>
                    Tel: 022-49186270<br>
                    Fax: 022-49186060<br>
                    Email: <a href="mailto:rnt.helpdesk@linkintime.co.in">rnt.helpdesk@linkintime.co.in</a><br>
                    Website: <a href="http://linkintime.co.in/website/" target="_blank">www.linkintime.co.in</a><br>
                </div>--%>
                <%--<div class="clear" style="height: 40px;">
                </div>--%>
                <%--<div>
                    <ul class="list">
                        <li>Debenture Trustees:</li>
                    </ul>
                    IDBI Trusteeship Services Ltd.<br>
                    Asian Building, Ground Floor,<br>
                    17, R.Kamani Marg,<br>
                    Ballard Estate,<br>
                    Mumbai-400001.<br>
                    Tel.No.022-40807000<br>
                    Fax: 022-66311776/40807080<br>
                    Email: <a href="mailto:itsl@idbitrustee.co.in">itsl@idbitrustee.co.in</a><br>
                    Contact person: Ms. Swapnali Hirlekar<br>
                    Designation: Asst. Vice President<br>
                </div>--%>
            </div>
        </div>
        <!--  Cont-right  -->
        <div class="clear" style="height: 40px;">
        </div>
        <!--  Breadcrum  -->
        <div id="bread_box">
            <a href="index.aspx" onmouseover="home.src='images/home_ic_h.jpg'" onmouseout="home.src='images/home_ic.jpg'"
                style="padding: 7px 16px 10px 8px;">
                <img src="images/home_ic.jpg" border="0" name="home" title="Home" /></a> <a href="#">Investor Relations</a> <span style="margin-left: 7px; margin-right: 10px;">Investor Downloads</span>
        </div>
        <!--  Breadcrum  -->
        <%--<div style="float:right; margin-top: 9px;"><a href="#top" onmouseover="tp.src='images/top_h.jpg'" onmouseout="tp.src='images/top.jpg'"><img src="images/top.jpg" border="0" name="tp" /></a></div>--%>
    </div>
</asp:Content>
