﻿<%@ Page Title="" Language="C#" MasterPageFile="~/aegis_master.master" AutoEventWireup="true" CodeFile="Testing_Page.aspx.cs" Inherits="Testing_Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
<asp:Button ID="btnClick" runat="server" Text="Click" 
        onclick="btnClick_Click" />
</asp:Content>

