﻿<%@ Page Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Admin_Default" Title="Aegis Logistics Limited - Admin Panel" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <div style="text-align:center;margin-top:200px;width:100%;"> 
      
<asp:Label ID="lblAdmin" runat="server" Font-Bold="True" Font-Size="Large" 
        ForeColor="#4b4b4b"></asp:Label>
        <br />
        <br />
          <asp:Label ID="lblMsg" runat="server" Text="" Visible="False"></asp:Label>
     <%-- <a href="#" onclick="javascript:window.Close()"><img src="../images/apply.jpg" runat="server"  /></a>--%>
        
        </div>  
</asp:Content>

