﻿body{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}
.container
{
}
.info p, .success p, .warning p, .error p {
    padding: 0px 50px;
}
.info a, .success a, .warning a, .error a {
    float: right;
    padding: 10px;
    cursor:pointer;
}
.container img {
    border: none;
}

/* validation */
.validation {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}
.validation ul
{
	padding: 0px 30px;
}
.Req
{
	color:Red;
	font-family:Verdana;
}